.body {
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
}

.instrumentos-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
}